<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "何切る掲示板", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   '#' %></li>
        <li><%= link_to "検索窓",   '#' %></li>
        <li><%= link_to "後：ストック一覧",   '#' %></li>
        <li><%= link_to "後：投稿する",   '#' %></li>
        <li><%= link_to "前：ユーザ登録", '#' %></li>        
        <li><%= link_to "前：ログイン", '#' %></li>
        <li><%= link_to "後：マイページ", '#' %></li>
      </ul>
    </nav>
  </div>
</header>